body { 
    background-image: url('images/SAM_7684.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-family: "Playwrite MX Guides", cursive;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 3em;
    text-align: left;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}


#instagram-link p {
    color: pink;
    text-decoration: none;
}

.main-content {
    transition: opacity 0.5s ease;
}