body { 
    background-image: url('images/SAM_7684.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1 {
    font-family: "Playwrite MX Guides", cursive;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 3em;
    text-align: left;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}


#instagram-link p {
    color: pink;
    text-decoration: none;
}


#main-content {
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#coqui-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#coqui-button:hover {
    transform: scale(1.1);
}

#coqui-image {
    width: 80px;
    height: auto;
    display: block;
}

#coqui-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#index-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#index-button:hover {
    transform: scale(1.1);
}

#beachicon-image {
    width: 80px;
    height: auto;
    display: block;
}

